<div id="main-content-m">


  <header>
    <div id="boxButton">
      <div id="inputBox">
        <input [(ngModel)]="search" type="text" id="input" placeholder="Search..." />
      </div>
      <div id="mag">
        <a (click)="SearchGoogle()"><button><i class="fa fa-search" aria-hidden="true"></i></button></a>
      </div>
      <div id="dots">
        <a><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        <mat-menu #menu="matMenu">
          <mat-checkbox checked>Google</mat-checkbox>
          <mat-checkbox>Quizlet</mat-checkbox>
          <mat-checkbox>Kahn Academy</mat-checkbox>
          <mat-checkbox>Wikipedia</mat-checkbox>
        </mat-menu>
      </div>
    </div>
    <a id="3-dots" [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>

  </header>
  <main>
    <div id="schedule">
      <h1 id="mainTitle">Schedule</h1>
      <div id="shh">
        <div id="scheduleHolder">
          <div id="one-block">1st Block: {{user.schedule[0].ClassName}}</div>
          <div id="two-block">2nd Block: {{user.schedule[1].ClassName}}</div>
          <div id="three-a-block">3a: {{user.schedule[2].ClassName}}</div>
          <div id="three-b-block">Lunch</div>
          <div id="three-c-block">3c: {{user.schedule[3].ClassName}}</div>
          <div id="four-block">4th Block: {{user.schedule[4].ClassName}}</div>
        </div>
      </div>
    </div>
    <div id="bottom-main">
      <!--  *ngIf="SelectedClass != null" -->
      <div id="asignments">
        <h2>Asignments</h2>
        <div></div>
        <mat-list>
          <mat-list-item *ngFor="let asignment of SelectedClass.Asignments">
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            <h1 class="asignTitle">{{asignment.Title}}</h1>
            <p class="asignDes">{{asignment.Description}}</p>
            <p class="asignDue">{{asignment.DueDate}}</p>
          </mat-list-item>
        </mat-list>
      </div>
      <div id="Links">
        <h2>Links</h2>
        <mat-list>
          <mat-list-item *ngFor="let link of SelectedClass.Links">
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            <h4 class="linkName">{{link.Name}}</h4>
            <p class="linkUrl">{{link.Url}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </main>
</div>
