<main>
  <div id="navbar">
    <div id="userProfile">
      <div id="imgHolder">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png"
          width="50px"
        />
      </div>
      <div id="textHolder">
        <h2>Hello</h2>
        <h3>Bay High School</h3>
      </div>
    </div>
    <div id="pageSelector">
      <a
        ><p><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</p></a
      >
      <a
        ><p><i class="fa fa-sticky-note" aria-hidden="true"></i>Notes</p></a
      >
      <a
        ><p><i class="fa fa-commenting" aria-hidden="true"></i>Chat</p></a
      >

      <div id="chatChild">
        <a *ngFor="let class of classes"></a>
      </div>

      <a
        ><p><i class="fa fa-clock-o" aria-hidden="true"></i>Study-Timer</p></a
      >
      <a id="settings"
        ><p><i class="fa fa-cog" aria-hidden="true"></i>Settings</p></a
      >
    </div>
  </div>
  <div id="main-content">
    <header>
      <div id="boxButton">
        <div id="inputBox">
          <input [(ngModel)]="search" type="text" id="input" placeholder="Search..." />
        </div>
        <div id="mag">
        <a (click)="SearchGoogle()"><button><i class="fa fa-search" aria-hidden="true"></i></button></a>
        </div>
        <div id="dots">
          <a><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
      </div>
      <a id="3-dots" [matMenuTriggerFor]="menu"> </a>
      <mat-menu #menu="matMenu">
        <mat-checkbox checked>Google</mat-checkbox>
        <mat-checkbox>Quizlet</mat-checkbox>
        <mat-checkbox>Kahn Academy</mat-checkbox>
        <mat-checkbox>Wikipedia</mat-checkbox>
      </mat-menu>
    </header>
    <main>
      <div id="schedule">
        <h1 id="mainTitle">Schedule</h1>
        <div id="shh">
          <div id="scheduleHolder">
            <div id="one-block">1st Block: Spanish 204</div>
            <div id="two-block">2nd Block: Math 118</div>
            <div id="three-a-block">3a: Writing Seminar</div>
            <div id="three-b-block">Lunch</div>
            <div id="three-c-block">3c: Honors Band</div>
            <div id="four-block">4th Block: Physics 305</div>
          </div>
        </div>
      </div>
      <div id="bottom-main">
        <div id="asignments">
          <h2>Asignments</h2>
          <div *ngFor="let asignment of asignments"></div>
        </div>
        <div id="Links">
          <h2>Links</h2>
          <div *ngFor="let link of links"></div>
        </div>
      </div>
    </main>
  </div>
</main>
