<div id="userProfile">
  <div id="imgHolder">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png"
      width="50px" />
  </div>
  <div id="textHolder">
    <h2>Hello</h2>
    <h3>Bay High School</h3>
  </div>
</div>
<div id="pageSelector">
  <a routerLink="/">
    <p><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</p>
  </a>
  <a routerLink="/notes">
    <p><i class="fa fa-sticky-note" aria-hidden="true"></i>Notes</p>
  </a>
  <a >
    <p><i class="fa fa-commenting" aria-hidden="true"></i>Chat</p>
  </a>

  <div id="chatChild">

    <a *ngFor="let class of user.schedule"><a (click)="chat(class.ClassName)"><span class="big">—</span>{{class.ClassName}}</a></a>
  </div>

  <a>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i>Study-Timer</p>
  </a>


  <a id="settings">
    <p ><i class="fa fa-cog" aria-hidden="true"></i>Settings</p>
  </a>
</div>
