textarea{
  width:calc(100% - 25px);
  height:calc(100vh - 140px);
  margin:10px;
  resize: none;
  overflow: hidden;
  color:black;

}
#notesSectionContainer, mat-tab-group, mat-tab, div{
  overflow: hidden;
  color:white;
}

#noteHeader{
  padding-left:25px;
  margin-top:8px;
  margin-bottom: 8px;
}
